@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
  --font-serif: "Playfair Display", serif;
  --radius: 0.7rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.7rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.2195 0.0805 262.6018);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2195 0.0805 262.6018);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2195 0.0805 262.6018);
  --primary: oklch(0.696 0.17 162.48);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(1 0 0);
  --secondary-foreground: oklch(0.244 0.0522 265.4094);
  --muted: oklch(1 0 0);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.95 0.052 163.051);
  --accent-foreground: oklch(0.262 0.051 172.552);
  --destructive: oklch(0.7616 0.149 6.0156);
  --border: oklch(0.869 0.022 252.894);
  --input: oklch(1 0 0);
  --ring: oklch(0.8271 0.1622 152.209);
  --chart-1: oklch(0.6825 0.1422 165.6877);
  --chart-2: oklch(1 0 0);
  --chart-3: oklch(1 0 0);
  --chart-4: oklch(0.9377 0.096 96.2792);
  --chart-5: oklch(0.7616 0.149 6.0156);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2195 0.0805 262.6018);
  --sidebar-primary: oklch(0.8271 0.1622 152.209);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(96.8% 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.244 0.0522 265.4094);
  --sidebar-border: oklch(86.9% 0.022 252.894);
  --sidebar-ring: oklch(0.8271 0.1622 152.209);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "Fira Code", monospace;
  --shadow-color: oklch(0.845 0.143 164.978);
  --shadow-opacity: 0.19;
  --shadow-blur: 9px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 9px 0px hsl(157.2954 76.251% 64.2471% / 0.1);
  --shadow-xs: 0px 4px 9px 0px hsl(157.2954 76.251% 64.2471% / 0.1);
  --shadow-sm:
    0px 4px 9px 0px hsl(157.2954 76.251% 64.2471% / 0.19),
    0px 1px 2px -1px hsl(157.2954 76.251% 64.2471% / 0.19);
  --shadow:
    0px 4px 9px 0px hsl(157.2954 76.251% 64.2471% / 0.19),
    0px 1px 2px -1px hsl(157.2954 76.251% 64.2471% / 0.19);
  --shadow-md:
    0px 4px 9px 0px hsl(157.2954 76.251% 64.2471% / 0.19),
    0px 2px 4px -1px hsl(157.2954 76.251% 64.2471% / 0.19);
  --shadow-lg:
    0px 4px 9px 0px hsl(157.2954 76.251% 64.2471% / 0.19),
    0px 4px 6px -1px hsl(157.2954 76.251% 64.2471% / 0.19);
  --shadow-xl:
    0px 4px 9px 0px hsl(157.2954 76.251% 64.2471% / 0.19),
    0px 8px 10px -1px hsl(157.2954 76.251% 64.2471% / 0.19);
  --shadow-2xl: 0px 4px 9px 0px hsl(157.2954 76.251% 64.2471% / 0.47);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2195 0.0805 262.6018);
  --foreground: oklch(1 0 0);
  --card: oklch(0.2195 0.0805 262.6018);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.2195 0.0805 262.6018);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.8271 0.1622 152.209);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.3363 0.0482 261.6165);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.3363 0.0482 261.6165);
  --muted-foreground: oklch(0.9019 0.011 256.6984);
  --accent: oklch(0.3363 0.0482 261.6165);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.4884 0.1686 26.0986);
  --border: oklch(0.3363 0.0482 261.6165);
  --input: oklch(0.3363 0.0482 261.6165);
  --ring: oklch(0.8271 0.1622 152.209);
  --chart-1: oklch(0.8271 0.1622 152.209);
  --chart-2: oklch(0.3363 0.0482 261.6165);
  --chart-3: oklch(0.9434 0.0223 302.9305);
  --chart-4: oklch(0.9802 0.0293 96.3916);
  --chart-5: oklch(0.8106 0.079 18.9277);
  --sidebar: oklch(0.3363 0.0482 261.6165);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.8271 0.1622 152.209);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.4339 0.0412 263.2287);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.3363 0.0482 261.6165);
  --sidebar-ring: oklch(0.8271 0.1622 152.209);
  --destructive-foreground: oklch(1 0 0);
  --radius: 0.7rem;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "Fira Code", monospace;
  --shadow-color: 0 0 0;
  --shadow-opacity: 0.19;
  --shadow-blur: 9px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 9px 0px hsl(0 0 0 / 0.1);
  --shadow-xs: 0px 4px 9px 0px hsl(0 0 0 / 0.1);
  --shadow-sm:
    0px 4px 9px 0px hsl(0 0 0 / 0.19), 0px 1px 2px -1px hsl(0 0 0 / 0.19);
  --shadow:
    0px 4px 9px 0px hsl(0 0 0 / 0.19), 0px 1px 2px -1px hsl(0 0 0 / 0.19);
  --shadow-md:
    0px 4px 9px 0px hsl(0 0 0 / 0.19), 0px 2px 4px -1px hsl(0 0 0 / 0.19);
  --shadow-lg:
    0px 4px 9px 0px hsl(0 0 0 / 0.19), 0px 4px 6px -1px hsl(0 0 0 / 0.19);
  --shadow-xl:
    0px 4px 9px 0px hsl(0 0 0 / 0.19), 0px 8px 10px -1px hsl(0 0 0 / 0.19);
  --shadow-2xl: 0px 4px 9px 0px hsl(0 0 0 / 0.47);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
